[Unit]
Description=Woolwich Station API
After=network.target

[Service]
Type=simple
User=smartinez
WorkingDirectory=/home/smartinez/station_api
ExecStart=/usr/bin/python3 /home/smartinez/station_api/main.py
Restart=always
RestartSec=5
Environment=PORT=8177
Environment=PYTHONUNBUFFERED=1
Environment=DARWIN_TOKEN=cfd2b16e-fb2d-4517-9dc2-7e82ef56e317

[Install]
WantedBy=multi-user.target
